:root {
    --color-dark: #1B1C21;
    --color-light: #FFFFFF;
    --color-light-alt: #F8F8F8;
    --color-purple: #FF3E79;
    --color-gray: #7E7E82;
    --color-blue: #41F6D7;
    --color-blue-light: #B8FFEC;
    --color-dash: #EAEAEA;

    --font-family-base: 'TT Lakes', sans-serif;

}